.sign-button{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: orange;
    font-weight: bold;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 15px;
    max-width: 15px;
}

.button{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    color: white;
    width: 15px;
    max-width: 15px;
}

.calc-chassis{
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    background-color: black;
}

.display{
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    background-color: darkolivegreen;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
    width: 10px;
    height: auto;
}

.lastResults{
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    max-height: 400px;
}

.container {
    display: flex;
    gap: 25px; /* Spazio tra calcolatrice e risultati */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    align-items: flex-start; /* Allinea gli elementi in alto */
    margin: 100px;
}

.calculator {
    width: 250px;
}

.lastresults {
    width: 300px;
}

.logoButton{
    width: 15px;
}

.footer{
    font-size: smaller;
    position: fixed;
    top: 97%;
    left: 50%;
    transform: translate(-50%);
}
